@import '../../variables';
@import './styles/AIChoice.scss';
@import './styles/PlayAgain.scss';
@import './styles/GameContainer.scss';
@import './styles/Item.scss';
@import './styles/AIChoiceModified.scss';
@import './styles/GameContainerModified.scss';
@import './styles/ItemModified.scss';

.winner {
  box-shadow: 0 0 calc(0.5 * $Normal-Size-Default) 10px #fff;
  transition: box-shadow 0.1s ease-in-out !important;
}
.app.modified .winner {
  box-shadow: 0 0 calc(0.5 * $Modified-Size-Default) 10px #fff;
}
@media (min-width: 768px) {
  .winner {
    box-shadow: 0 0 calc(0.5 * $Normal-Size-Md) 10px #fff;
  }
  .app.modified .winner {
    box-shadow: 0 0 calc(0.5 * $Modified-Size-Md) 10px #fff;
  }
}
@media (min-width: 1280px) {
  .winner {
    box-shadow: 0 0 calc(0.5 * $Normal-Size-L) 10px #fff;
  }
  .app.modified .winner {
    box-shadow: 0 0 calc(0.5 * $Modified-Size-L) 10px #fff;
  }
}
