@import '../../../variables';

.app.modified #ai-choice {
  width: $Modified-Size-Default;
  height: $Modified-Size-Default;
}

@media (min-width: 768px) {
  .app.modified {
    #ai-choice {
      width: $Modified-Size-Md;
      height: $Modified-Size-Md;
    }
  }
}

@media (min-width: 1280px) {
  .app.modified {
    #ai-choice {
      width: $Modified-Size-L;
      height: $Modified-Size-L;
    }
  }
}
