@import '../../../variables';

.item-0 {
  background: linear-gradient($Rock-Gradient);
}
.item-1 {
  background: linear-gradient($Paper-Gradient);
}
.item-2 {
  background: linear-gradient($Scissors-Gradient);
}
.item-3 {
  background: linear-gradient($Lizard-Gradient);
}
.item-4 {
  background: linear-gradient($Cyan);
}
.item {
  display: flex;
  width: $Normal-Size-Default;
  height: $Normal-Size-Default;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  box-shadow: inset 0px calc($Normal-Size-Default / -25) 0px 0px rgb(0 0 0 / 0.3);
  div {
    display: flex;
    width: calc(0.8 * $Normal-Size-Default);
    height: calc(0.8 * $Normal-Size-Default);
    justify-content: center;
    align-items: center;
    background: white;
    border-radius: 100%;
    box-shadow: inset 0px calc($Normal-Size-Default / 25) 0px 0px rgb(0 0 0 / 0.3);
    img {
      width: calc(0.5 * $Normal-Size-Default);
      height: calc(0.5 * $Normal-Size-Default);
    }
  }
}
.app.modified .item {
  width: $Modified-Size-Default;
  height: $Modified-Size-Default;
  box-shadow: inset 0px calc($Modified-Size-Default / -25) 0px 0px rgb(0 0 0 / 0.3);
  div {
    width: calc(0.8 * $Modified-Size-Default);
    height: calc(0.8 * $Modified-Size-Default);
    box-shadow: inset 0px calc($Normal-Size-Default / 25) 0px 0px rgb(0 0 0 / 0.3);
    img {
      width: calc(0.5 * $Modified-Size-Default);
      height: calc(0.5 * $Modified-Size-Default);
    }
  }
}
@media (min-width: 768px) {
  .item {
    width: $Normal-Size-Md;
    height: $Normal-Size-Md;
    box-shadow: inset 0px calc($Normal-Size-Md / -25) 0px 0px rgb(0 0 0 / 0.3);
    div {
      width: calc(0.8 * $Normal-Size-Md);
      height: calc(0.8 * $Normal-Size-Md);
      box-shadow: inset 0px calc($Normal-Size-Md / 25) 0px 0px rgb(0 0 0 / 0.3);
      img {
        width: calc(0.5 * $Normal-Size-Md);
        height: calc(0.5 * $Normal-Size-Md);
      }
    }
  }
  .app.modified .item {
    width: $Modified-Size-Md;
    height: $Modified-Size-Md;
    box-shadow: inset 0px calc($Modified-Size-Md / -25) 0px 0px rgb(0 0 0 / 0.3);
    div {
      width: calc(0.8 * $Modified-Size-Md);
      height: calc(0.8 * $Modified-Size-Md);
      box-shadow: inset 0px calc($Modified-Size-Md / 25) 0px 0px rgb(0 0 0 / 0.3);
      img {
        width: calc(0.5 * $Modified-Size-Md);
        height: calc(0.5 * $Modified-Size-Md);
      }
    }
  }
}
@media (min-width: 1280px) {
  .item {
    width: $Normal-Size-L;
    height: $Normal-Size-L;
    box-shadow: inset 0px calc($Normal-Size-L / -25) 0px 0px rgb(0 0 0 / 0.3);
    div {
      width: calc(0.8 * $Normal-Size-L);
      height: calc(0.8 * $Normal-Size-L);
      box-shadow: inset 0px calc($Normal-Size-L / 25) 0px 0px rgb(0 0 0 / 0.3);
      img {
        width: calc(0.5 * $Normal-Size-L);
        height: calc(0.5 * $Normal-Size-L);
      }
    }
  }
  .app.modified .item {
    width: $Modified-Size-L;
    height: $Modified-Size-L;
    box-shadow: inset 0px calc($Modified-Size-L / -25) 0px 0px rgb(0 0 0 / 0.3);
    div {
      width: calc(0.8 * $Modified-Size-L);
      height: calc(0.8 * $Modified-Size-L);
      box-shadow: inset 0px calc($Modified-Size-L / 25) 0px 0px rgb(0 0 0 / 0.3);
      img {
        width: calc(0.5 * $Modified-Size-L);
        height: calc(0.5 * $Modified-Size-L);
      }
    }
  }
}
